

<h1 class=" text-center"  style="color: rgb(133, 15, 133);"> <i class="fa-sharp fa-solid fa-graduation-cap" ></i>OUR COURSES</h1>


<div class="row mt-5 ms-5">
    <div class="col-4">                                                     
        <div class="card pt-5 "  style="width: 20rem; height: 500px;">
            <img class="card-img-top mx-auto"  style="width: 100px; height: 82px;"
                src="https://luminartechnolabbucket.s3.ap-south-1.amazonaws.com/fe964743-1e77-427b-aab2-274f850b0e70-asset-1.svg"
                alt="Card image cap">
            <div class="card-body" id="view-more-body">
                <h5 class="card-title fw-bold" style="color: rgb(119, 43, 119);">Software Testing Specialist</h5>
                <br>
                <p class="card-text text-muted" style="font-size:14px ;">Manual Testing,Java Foundation,Mobile
                    <br>Testing Automation Testing,Selenium IDE, <br>Seleniuem Web driver,Selenium Advanced</p>
                
                <span class="fw-bold" style="font-size: 14px; color: rgb(142, 30, 138);">Duration:3Months</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: rgb(113, 30, 94);">Offline:</span><span
                    class="text-muted">31500</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: rgb(104, 28, 88);">Online:</span><span
                    class="text-muted">29500</span> <br> <br><br><br>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary bg-white fw-bold" id="view-more"
                            style="font-size: 14px; color: rgb(112, 23, 81); border-radius: 20px;" >know more</button>
                    </div>
            </div>
        </div>
    </div>
    
    <div class="col-4">
        <div class="card pt-5" style="width: 20rem;  height: 500px">
            <img class="card-img-top mx-auto"  style="width: 100px; height: 82px;"
                src="https://luminartechnolabbucket.s3.ap-south-1.amazonaws.com/c678b72e-d125-46c0-8598-30c0f1989d2b-Group%201.svg"
                alt="Card image cap">
                <div class="card-body" id="view-more-body">
                <h5 class="card-title fw-bold" style="color: rgb(180, 56, 180);">MEA(R)N Stack Web Development Expert - Angular & React</h5>
                <br>
                <p class="card-text text-muted" style="font-size:14px ;">HTML, CSS, Bootstrap, Javascript, Typescript, 
                    <br>Git, Angular, React.js, Node.js, Express.js &  <br>MongoDB</p>
              
                <span class="fw-bold" style="font-size: 14px; color: purple;">Duration:5Months</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Offline:</span><span
                    class="text-muted">31500</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Online:</span><span
                    class="text-muted">29500</span> <br> <br>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary bg-white fw-bold" id="view-more"
                            style="font-size: 14px; color: purple; border-radius: 20px;" >know more</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card pt-5" style="width: 20rem;  height: 500px">
            <img class="card-img-top mx-auto"  style="width: 100px; height: 82px;"
                src="https://luminartechnolabbucket.s3.ap-south-1.amazonaws.com/b329bfb7-fbc1-4623-bfa2-1ee94814efe4-asset-2.svg"
                alt="Card image cap">
                <div class="card-body" id="view-more-body">
                <h5 class="card-title fw-bold" style="color: purple;">Data Science - ML - AI - Big Data with Cloud & TABLEAU</h5>
                <br>
                <p class="card-text text-muted" style="font-size:14px ;">Manual Testing,Java Foundation,Mobile
                    <br>Testing Automation Testing,Selenium IDE, <br>Seleniuem Web driver,Selenium Advanced</p>
                
                <span class="fw-bold" style="font-size: 14px; color: purple;">Duration:6months</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Offline:</span><span
                    class="text-muted">31500</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Online:</span><span
                    class="text-muted">29500</span> <br> <br>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary bg-white fw-bold" id="view-more"
                            style="font-size: 14px; color: purple; border-radius: 20px;" >know more</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 ms-5">
    <div class="col-4 ">
        <div class="card pt-5" style="width: 20rem;  height: 500px">
            <img class="card-img-top mx-auto"  style="width: 100px; height: 82px;"
                src="https://luminartechnolabbucket.s3.amazonaws.com/8f1944da-45af-4b90-a4c7-eb201a510432-python-svgrepo-com-2.svg"
                alt="Card image cap">
                <div class="card-body" id="view-more-body">
                <h5 class="card-title fw-bold" style="color: purple;">Python Django - Angular- Full Stack Web Development Expert</h5>
                <br>
                <p class="card-text text-muted" style="font-size:14px ;">Manual Testing,Java Foundation,Mobile
                    <br>Testing Automation Testing,Selenium IDE, <br>Seleniuem Web driver,Selenium Advanced</p>
              
                <span class="fw-bold" style="font-size: 14px; color: purple;">Duration:5months</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Offline:</span><span
                    class="text-muted">31500</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Online:</span><span
                    class="text-muted">29500</span> <br> <br>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary bg-white fw-bold" id="view-more"
                            style="font-size: 14px; color: purple; border-radius: 20px;" >know more</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="card pt-5" style="width: 20rem;  height: 500px">
            <img class="card-img-top mx-auto"  style="width: 100px; height: 82px;"
                src="https://luminartechnolabbucket.s3.ap-south-1.amazonaws.com/fba6e2b7-cbef-4864-9aa2-8d42b615a363-1797049.png"
                alt="Card image cap">
                <div class="card-body" id="view-more-body">
                <h5 class="card-title fw-bold" style="color: purple;">Asp.net MVC with Angular - Full Stack</h5>
                <br>
                <p class="card-text text-muted" style="font-size:14px ;">Manual Testing,Java Foundation,Mobile
                    <br>Testing Automation Testing,Selenium IDE, <br>Seleniuem Web driver,Selenium Advanced</p>
              
                <span class="fw-bold" style="font-size: 14px; color: purple;">Duration:4months</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Offline:</span><span
                    class="text-muted">31500</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Online:</span><span
                    class="text-muted">29500</span> <br> <br> <br> 
                    <div class="text-center">
                        <button type="button" class="btn btn-primary bg-white fw-bold" id="view-more"
                            style="font-size: 14px; color: purple; border-radius: 20px;" >know more</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-4 ">
        <div class="card pt-5" style="width: 20rem;  height: 500px">
            <img class="card-img-top mx-auto"  style="width: 100px; height: 82px;"
                src="https://luminartechnolabbucket.s3.ap-south-1.amazonaws.com/9e12911e-0b95-4ba2-a6b8-4c5b75b99c42-android-logo-svgrepo-com.svg"
                alt="Card image cap">
                <div class="card-body" id="view-more-body">
                <h5 class="card-title fw-bold" style="color: purple;">Android Developer Expert Training In Kochi- Flutter</h5>
                <br>
                <p class="card-text text-muted" style="font-size:14px ;">Manual Testing,Java Foundation,Mobile
                    <br>Testing Automation Testing,Selenium IDE, <br>Seleniuem Web driver,Selenium Advanced</p>                
                <span class="fw-bold" style="font-size: 14px; color: purple;">Duration:5months</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Offline:</span><span
                    class="text-muted">31500</span> <br>
                <span class="fw-bold" style="font-size: 14px; color: purple;">Online:</span><span
                    class="text-muted">29500</span> <br>
                    <div class="text-center"> <br> <br>
                        <button type="button" class="btn btn-primary bg-white fw-bold" id="view-more"
                            style="font-size: 14px; color: purple; border-radius: 20px;" >know more</button>
                    </div>
            </div>
        </div>
    </div>
       
       </div>

       